@model Product

<h3>Add a new Product</h3>

<div style="display:inline-block">
    <form asp-action="CreateProduct" asp-controller="Product" method="POST">
        <p><span asp-validation-for="name"></span></p>
        <label asp-for="name"></label><br>
        <input asp-for="name"><br>
        <label asp-for="url"></label><br>
        <input asp-for="url"><br>
        <label asp-for="description"></label><br>
        <input asp-for="description"><br>
        <label asp-for="quantity"></label><br>
        <input type="number" asp-for="quantity"><br><br>
        <button type="submit">Create</button>
    </form>
</div>
<div style="display: inline-block; vertical-align:top; float:right;">
@foreach(var p in @ViewBag.products){
    <div style="display:inline-block; vertical-align: top; padding: 2px; margin: 5px; border: 1px solid black;">
        <a href="@p.url" target="_blank"><img src="@p.url" alt="@p.name" height="70" width="90"></a>
        <p>@p.name</p>
        <p>(@p.quantity left)</p>
    </div>
}
</div>
